



.my-card{

   background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border-radius: 20px !important;
    border:1px solid rgba(255, 255, 255, 0.18) !important;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;

}


.my-carouselcontainer,
.my-carouselcontainer img{
    height: 450px !important;
}

@media (max-width : 450px) {
    .my-carouselcontainer,
.my-carouselcontainer img{
    height: 180px !important;
}
}

.my-images{
    height: 270px;
}
.aboutus-image img{
    width: 520px;
    height: 320px;
}


@media (max-width : 600px) {
    .aboutus-image img{
        width: 330px;
        height: 260px;
    }
}
.my-svg{
    width: 20px !important;
}


.navbar{
  background-color:#ff7f7f !important;
}

.upload-btn{
    width: 180px;
}

.input-group-text{
    height: 100%;
}



